{% extends 'blog/base.html' %}

{% block title %}Comment{% endblock %}
{% block body %}


<div class="w3-margin-right w3-margin-left w3-card-4" style="border: 2px solid #dedede;
            background-color: #dedede;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;">
    {% load widget_tweaks %}

    <form method="POST" action="">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}